* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(45deg, blue, rgb(8, 8, 8));
  color: aliceblue;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 30vh 0;
  width: auto;
  height: 300px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  overflow: hidden;
}

#stats {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
}

#game-Over-Screen {
  display: none;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 10px 40px;
  border: 2px blue solid;
  animation: Show-Game-Over-Screen 0.5s;
}

@keyframes Show-Game-Over-Screen {
  0% {
    transform: translate(0vw, -100vh);
  }
  100% {
    transform: translate(0vw, 0vh);
  }
}

#runner-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 100px;
}

#runner {
  width: 20px;
  height: 20px;
  background-color: red;
}

.jump {
  animation: jump 0.45s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -150px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0px) rotate(360deg);
  }
}

.obstacle {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  bottom: 0px;
  right: -20px;
}
